.activity-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 50px;
  margin-bottom: 50px;
}

.activity-col {
  padding: 40px;
  margin-bottom: 10px;
}
